* {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
}

.header {
    color: black;
    background-color: white;
    height: 80px;
    font-size: 40px;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
}

.header .right {
    display: flex;
    gap: 40px;
    font-size: 20px;
    margin-right: 60px;
}

.header .right a {
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

.header .right a:hover {
    text-decoration: underline;
}

.margin {
    margin-left: 50px;
}

.search {
    height: 100px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search div {
    margin-top: 100px;
}

/* .navheight, .sidebar {
    display: none;
} */

@media (max-width:700px) {
    .header {
        display: none;
    }


    .navheight {
        height: 100px;
        background-color: blueviolet;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navheight div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: aliceblue;
        font-size: 35px;
        width: 10%;
    }

    .sidebar {
        height: 100%;
        /* top: 0; */
        width: 0;
        left: 0;
        top: 0;
        position: fixed;
        background-color: black;
        overflow: hidden;
        transition: 0.3s;
    }

    .sidebar a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 8px 8px 8px 32px;
        padding-top: 10px;
        font-size: 18px;
    }

    .sidebar a:hover {
        color: lightgray;
    }

    .sidebar .closebtn {
        font-size: 36px;
        margin-left: 80px;
    }
}